@import "tailwindcss";

@theme {
  --color-primary: #090a20;
  --color-secundary: #1761b9;

  --color-header: #000000;

  --color-text-primary: #ffffff;
  --color-text-secundary: #000000;
}

button:not(:disabled),
a:not([aria-disabled="true"]),
[role="button"]:not([aria-disabled="true"]),
input[type="submit"]:not(:disabled),
input[type="button"]:not(:disabled),
select:not(:disabled) {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
